@page "/reservations/create"
@using Microsoft.EntityFrameworkCore
@using Сoursework.Models
@inject IDbContextFactory<Сoursework.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Reservation</PageTitle>

<h1>Добавление</h1>

<h2>Бронирование</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Reservation" OnValidSubmit="AddReservation" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="guestid" class="form-label">Гость:</label>
                <InputSelect id="guestid" @bind-Value="Reservation.GuestId" class="form-control">
                    @foreach (var guest in Guests)
                    {
                        <option value="@guest.GuestId">@($"{guest.Surname} {guest.Name} {guest.Middlename}")</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Reservation.GuestId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="roomid" class="form-label">Номер:</label>
                <InputSelect id="roomid" @bind-Value="Reservation.RoomId" class="form-control">
                    @foreach (var room in Rooms)
                    {
                        <option value="@room.RoomId">@room.RommNumber</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Reservation.RoomId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="serviceid" class="form-label">Услуга:</label>
                <InputSelect id="serviceid" @bind-Value="Reservation.ServiceId" class="form-control">
                    @foreach (var service in Services)
                    {
                        <option value="@service.ServiceId">@service.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Reservation.ServiceId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="startdate" class="form-label">Дата заезда:</label>
                <InputDate id="startdate" @bind-Value="Reservation.StartDate" class="form-control" /> 
                <ValidationMessage For="() => Reservation.StartDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="enddate" class="form-label">Дата выезда:</label>
                <InputDate id="enddate" @bind-Value="Reservation.EndDate" class="form-control" /> 
                <ValidationMessage For="() => Reservation.EndDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="bookingstatus" class="form-label">Статус:</label>
                <InputSelect id="bookingstatus" @bind-Value="Reservation.BookingStatus" class="form-control" aria-required="true">
                    <option value="Подтвержден">Подтвержден</option>
                    <option value="Отменен">Отменен</option>
                </InputSelect>
                <ValidationMessage For="() => Reservation.BookingStatus" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Добавить</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/reservations">Назад к списку</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Reservation Reservation { get; set; } = new();
    private List<Guest> Guests { get; set; } = new();
    private List<Room> Rooms { get; set; } = new();
    private List<Service> Services { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Guests = await context.Guests.ToListAsync();
        Rooms = await context.Rooms.ToListAsync();
        Services = await context.Services.ToListAsync();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddReservation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Reservations.Add(Reservation);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/reservations");
    }
}
