@page "/reservations/details"
@using Microsoft.EntityFrameworkCore
@using Сoursework.Models
@inject IDbContextFactory<Сoursework.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details Reservation</PageTitle>

<h1>Подробнее</h1>

<div>
    <h2>Бронирование</h2>
    <hr />
    @if (reservation is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Гость</dt>
            <dd class="col-sm-10">@reservation.GuestId</dd>
            <dt class="col-sm-2">Номер</dt>
            <dd class="col-sm-10">@reservation.RoomId</dd>
            <dt class="col-sm-2">Услуга</dt>
            <dd class="col-sm-10">@reservation.ServiceId</dd>
            <dt class="col-sm-2">Дата заезда</dt>
            <dd class="col-sm-10">@reservation.StartDate</dd>
            <dt class="col-sm-2">Дата выезда</dt>
            <dd class="col-sm-10">@reservation.EndDate</dd>
            <dt class="col-sm-2">Статус</dt>
            <dd class="col-sm-10">@reservation.BookingStatus</dd>
        </dl>
        <div>
            <a href="@($"/reservations/edit?bookingid={reservation.BookingId}")">Редактировать</a> |
            <a href="@($"/reservations")">Назад к списку</a>
        </div>
    }
</div>

@code {
    private Reservation? reservation;

    [SupplyParameterFromQuery]
    private int BookingId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        reservation = await context.Reservations.FirstOrDefaultAsync(m => m.BookingId == BookingId);

        if (reservation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
