@page "/reservations/edit"
@using Microsoft.EntityFrameworkCore
@using Сoursework.Models
@inject IDbContextFactory<Сoursework.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit Reservation</PageTitle>

<h1>Редактирование</h1>

<h2>Бронирование</h2>
<hr />
@if (Reservation is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Reservation" OnValidSubmit="UpdateReservation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Reservation.BookingId" value="@Reservation.BookingId" />
                <div class="mb-3">
                    <label for="guestid" class="form-label">Гость:</label>
                    <InputSelect id="guestid" @bind-Value="Reservation.GuestId" class="form-control" >
                    @foreach (var guest in Guests)
                    {
                    <option value="@guest.GuestId">@($"{guest.Surname} {guest.Name} {guest.Middlename}")</option>
                    }
                    </InputSelect>
                    <ValidationMessage For="() => Reservation.GuestId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="roomid" class="form-label">Номер:</label>
                    <InputSelect id="roomid" @bind-Value="Reservation.RoomId" class="form-control">
                        @foreach (var room in Rooms)
                    {
                            <option value="@room.RoomId">@room.RommNumber</option>
                    }
                    </InputSelect>
                    <ValidationMessage For="() => Reservation.RoomId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="serviceid" class="form-label">Услуга:</label>
                    <InputSelect id="serviceid" @bind-Value="Reservation.ServiceId" class="form-control" >
                        @foreach (var service in Services)
                        {
                            <option value="@service.ServiceId">@service.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Reservation.ServiceId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="startdate" class="form-label">Дата заезда:</label>
                    <InputDate id="startdate" @bind-Value="Reservation.StartDate" class="form-control" />
                    <ValidationMessage For="() => Reservation.StartDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="enddate" class="form-label">Дата выезда:</label>
                    <InputDate id="enddate" @bind-Value="Reservation.EndDate" class="form-control" />
                    <ValidationMessage For="() => Reservation.EndDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="bookingstatus" class="form-label">Статус:</label>
                    <InputSelect id="bookingstatus" @bind-Value="Reservation.BookingStatus" class="form-control" aria-required="true">
                        <option value="Подтвержден">Подтвержден</option>
                        <option value="Отменен">Отменен</option>
                    </InputSelect>
                    <ValidationMessage For="() => Reservation.BookingStatus" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/reservations">Назад к списку</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int BookingId { get; set; }

    [SupplyParameterFromForm]
    private Reservation? Reservation { get; set; }
    private List<Guest> Guests { get; set; } = new();
    private List<Room> Rooms { get; set; } = new();
    private List<Service> Services { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        Reservation = await context.Reservations
    .Include(d => d.Guests)
    .Include(d => d.Rooms)
    .Include(d => d.Services)
    .FirstOrDefaultAsync(m => m.BookingId == BookingId);

        if (Reservation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }


        // Загрузим списки для выбора
        Guests = await context.Guests.ToListAsync();
        Rooms = await context.Rooms.ToListAsync();
        Services = await context.Services.ToListAsync();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateReservation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Reservation!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReservationExists(Reservation!.BookingId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/reservations");
    }

    private bool ReservationExists(int bookingid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Reservations.Any(e => e.BookingId == bookingid);
    }
}
