@page "/payments/delete"
@using Microsoft.EntityFrameworkCore
@using Сoursework.Models
@inject IDbContextFactory<Сoursework.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Payment</PageTitle>

<h1>Удаление</h1>

<p>Вы действительно хотите удалить?</p>
<div>
    <h2>Оплата</h2>
    <hr />
    @if (payment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Бронирование</dt>
            <dd class="col-sm-10">@payment.BookingId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Сумма</dt>
            <dd class="col-sm-10">@payment.Amount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Способ оплаты</dt>
            <dd class="col-sm-10">@payment.PaymentMethod</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дата оплаты</dt>
            <dd class="col-sm-10">@payment.PaymentDate</dd>
        </dl>
        <EditForm method="post" Model="payment" OnValidSubmit="DeletePayment" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(payment is null)">Удалить</button> |
            <a href="/payments">Назад к списку</a>
        </EditForm>
    }
</div>

@code {
    private Payment? payment;

    [SupplyParameterFromQuery]
    private int PaymentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        payment = await context.Payments.FirstOrDefaultAsync(m => m.PaymentId == PaymentId);

        if (payment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePayment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Payments.Remove(payment!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/payments");
    }
}
