@page "/reviews/delete"
@using Microsoft.EntityFrameworkCore
@using Сoursework.Models
@inject IDbContextFactory<Сoursework.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Review</PageTitle>

<h1>Удаление</h1>

<p>Вы действительно хотите удалить?</p>
<div>
    <h2>Отзыв</h2>
    <hr />
    @if (review is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Гость</dt>
            <dd class="col-sm-10">@review.GuestId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Номер</dt>
            <dd class="col-sm-10">@review.RoomId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Оценка</dt>
            <dd class="col-sm-10">@review.Rating</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Комментарий</dt>
            <dd class="col-sm-10">@review.Comment</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дата отзыва</dt>
            <dd class="col-sm-10">@review.ReviewDate</dd>
        </dl>
        <EditForm method="post" Model="review" OnValidSubmit="DeleteReview" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(review is null)">Удалить</button> |
            <a href="/reviews">Назад к списку</a>
        </EditForm>
    }
</div>

@code {
    private Review? review;

    [SupplyParameterFromQuery]
    private int ReviewId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        review = await context.Reviews.FirstOrDefaultAsync(m => m.ReviewId == ReviewId);

        if (review is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteReview()
    {
        using var context = DbFactory.CreateDbContext();
        context.Reviews.Remove(review!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/reviews");
    }
}
